<div class="content">
    <div class="body">
      <div class="pInfo">
        <h4>Jack of all trades</h4>
        <h1>akat<span>design</span></h1>
        <h3>Trust my expression will reach U.</h3>
        <h3>(=^･ω･^=)</h3>
      </div>
      <canvas id="webgl"></canvas>
    </div>
  </div>