<footer>
    <p>akatdesign</p>
    <p>Follow me!</p>
    <div class="social">
      <a href="https://github.com/akcatchang"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://twitter.com/akatdesign"
        ><i class="fab fa-twitter"></i
      ></a>
    </div>
    <p class="end">CopyRight@akatdesign</p>
</footer>