---
import Card from "../components/Card.astro";
---

<div class="portfolio">
    <div class="title">
      <h2>Skils</h2>
    </div>
    <div class="box">
      <Card icon="fa-solid fa-code",
            title="Frontend Dev",
            skills="HTML/CSS/JavaScript, Sass(Scss), Vue(Nuxt), React(Next)"
      />
      <Card icon="fa-solid fa-terminal",
            title="Backend Dev",
            skills="Python, Nim(entry-level), C(entry-level)"
      />
      <Card icon="fa-solid fa-gears",
            title="Other Tech",
            skills="Docker, Git, Figma, Illustrator, Blender"
      />
    </div>
</div>