:root{
    @media (prefers-color-scheme: light) {
        --color-base: #f5f5f5;
        --color-sub: white;
        --color-text: black;
    }
    @media (prefers-color-scheme: dark) {
        --color-base: #101010;
        --color-sub: #191919;
        --color-text: white;
    }
}

$accent: lightseagreen;
$mainColor: var(--color-base);
$subColor: var(--color-sub);
$textColor: var(--color-text);