// :root{
    // @media (prefers-color-scheme: light) {
        // --color-base: #f5f5f5;
        // --color-sub: white;
        // --color-text: black;
    // }
    // @media (prefers-color-scheme: dark) {
        // --color-base: #101010;
        // --color-sub: #191919;
        // --color-text: white;
    // }
// }

$accent: lightseagreen;
$mainColor: var(--color-base);
$subColor: var(--color-sub);
$textColor: var(--color-text);

//add
@mixin light-theme {
    --color-base: #f5f5f5;
    --color-sub: white;
    --color-text: black;
}

@mixin dark-theme {
    --color-base: #101010;
    --color-sub: #191919;
    --color-text: white;
}

@media (prefers-color-sheme: light) {
    :root {
        @include light-theme;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-theme()
    }
}

.light {
    @include light-theme;
}

.dark {
    @include dark-theme;
}