@media (prefers-color-sheme: light) {
  :root {
    --color-base: #f5f5f5;
    --color-sub: white;
    --color-text: black;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #101010;
    --color-sub: #191919;
    --color-text: white;
  }
}
.light {
  --color-base: #f5f5f5;
  --color-sub: white;
  --color-text: black;
}

.dark {
  --color-base: #101010;
  --color-sub: #191919;
  --color-text: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c";
}

@media screen and (max-width: 768px) {
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }
}

header {
  width: 100%;
  height: 80px;
  background-color: var(--color-sub);
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: var(--color-sub);
}
@media screen and (max-width: 1200px) {
  header nav {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  header nav {
    padding: 0 10px;
  }
}
header nav .logo {
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
header nav .logo a {
  color: var(--color-text);
  text-decoration: none;
}
header nav .logo span {
  color: lightseagreen;
}
header nav .nav-active {
  transform: translateX(0%) !important;
}
header nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  header nav .nav-links {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  header nav .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 5vh;
    background-color: var(--color-sub);
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }
}
header nav .nav-links li {
  list-style: none;
}
@media screen and (max-width: 768px) {
  header nav .nav-links li {
    opacity: 0;
  }
}
header nav .nav-links li #toggleTheme {
  cursor: pointer;
  background-color: lightseagreen;
  padding: 13px 30px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s;
}
header nav .nav-links li #toggleTheme:hover {
  background-color: transparent;
  border: 2px solid lightseagreen;
  cursor: pointer;
}
header nav .nav-links a {
  position: relative;
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(currentColor 0 0) var(--p, 0) 100%/var(--d, 0) 2px no-repeat;
  transition: 0.3s, background-position 0s 0.3s;
}
header nav .nav-links a:hover {
  --d: 100%;
  --p: 100%;
  color: lightseagreen;
}
header nav .burger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  header nav .burger {
    display: block;
  }
}
header nav .burger div {
  width: 25px;
  height: 3px;
  background-color: lightseagreen;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}
header nav .toggle .line1 {
  transform: rotate(-405deg) translate(-5px, 6px);
}
header nav .toggle .line2 {
  opacity: 0;
}
header nav .toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}

.selector-hide {
  display: none;
}

.content {
  height: 100vh;
  width: 100%;
  background-color: var(--color-base);
  padding-top: 150px;
}
@media screen and (max-width: 768px) {
  .content {
    height: 650px;
    padding-top: 0;
  }
}
.content .body {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
  padding-left: 100px;
}
@media screen and (max-width: 768px) {
  .content .body {
    flex-direction: column;
    margin-left: -70px;
  }
}
.content .body img {
  width: 80vh;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-top: -100px;
}
@media screen and (max-width: 1200px) {
  .content .body img {
    width: 50vh;
  }
}
@media screen and (max-width: 1024px) {
  .content .body img {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .content .body img {
    width: 320px;
    height: 300px;
    margin-top: 50px;
  }
}
.content .body .pInfo h1 {
  color: var(--color-text);
  margin: 20px 0 20px;
  font-size: 75px;
}
.content .body .pInfo h1 span {
  color: lightseagreen;
}
@media screen and (max-width: 768px) {
  .content .body .pInfo h1 {
    margin: 5px 0 5px;
  }
}
.content .body .pInfo h3 {
  color: var(--color-text);
  font-size: 25px;
}
.content .body .pInfo h4 {
  color: var(--color-text);
  letter-spacing: 2px;
  font-size: 20px;
}
.about {
  width: 100%;
  padding: 100px 0;
  background-color: var(--color-sub);
}
.about .main {
  width: 1130px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1200px) {
  .about .main {
    width: 100%;
  }
}
.about .main img {
  width: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .about .main img {
    width: 20vh;
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .about .main img {
    display: none;
  }
}
.about .main .aboutText {
  width: 550px;
}
.about .main .aboutText h2 {
  color: var(--color-text);
  font-size: 75px;
  margin-bottom: 20px;
}
.about .main .aboutText h5 {
  color: var(--color-text);
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 25px;
}
.about .main .aboutText p {
  color: var(--color-text);
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 45px;
  font-size: 18px;
}

.portfolio {
  background-color: var(--color-base);
  width: 100%;
  padding: 100px 0;
}
.portfolio .title h2 {
  color: var(--color-text);
  font-size: 75px;
  margin: 30px auto;
  text-align: center;
}
.portfolio .box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
@media screen and (max-width: 768px) {
  .portfolio .box {
    flex-direction: column;
  }
}
.portfolio .box .card {
  height: 350px;
  width: 365px;
  background-color: var(--color-sub);
  padding: 20px 35px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.portfolio .box .card i {
  color: lightseagreen;
  font-size: 50px;
  margin: 25px 0;
}
.portfolio .box .card h5 {
  color: var(--color-text);
  font-size: 23px;
  margin-bottom: 30px;
}
.portfolio .box .card .pragraph p {
  color: var(--color-text);
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
}

.contact {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-sub);
}
.contact p {
  color: var(--color-text);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact .contact-button {
  background-color: lightseagreen;
  padding: 13px 30px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s;
  color: var(--color-text);
}
.contact .contact-button:hover {
  background-color: transparent;
  border: 2px solid lightseagreen;
  cursor: pointer;
}
.contact .contact-button:hover {
  color: lightseagreen;
}

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: var(--color-base);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: var(--color-text);
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: var(--color-text);
  font-size: 17px;
  width: 500px;
  text-align: center;
}
footer .social {
  display: flex;
}
footer .social a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 22px 10px;
  color: var(--color-text);
  transition: all 0.3s;
}
footer .social a:hover {
  transform: scale(1.3);
}
footer .end {
  color: var(--color-text);
  margin-top: 100px;
  font-size: 16px;
}
footer .end2 {
  color: var(--color-text);
  font-size: 16px;
}

@-webkit-keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-base);
}

::-webkit-scrollbar-thumb {
  background: lightseagreen;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */